@import './scss/static/variables';
@import './scss/theme/uptown.scss';
@import 'node_modules/bootstrap/scss/_mixins.scss';
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss';
@import 'node_modules/bootstrap/scss/_modal.scss';
@import 'node_modules/bootstrap/scss/_dropdown.scss';
@import 'node_modules/bootstrap/scss/_utilities.scss';
@import 'node_modules/bootstrap/scss/_spinners.scss';

@import './scss/static/mixins';
@import './scss/static/fonts';
@import './scss/static/utilities';
@import './scss/static/default';
@import './scss/static/animations';

/* partials */
@import './scss/partials/body';
@import './scss/partials/toolbar';
@import './scss/partials/header';
@import './scss/partials/aside';
@import './scss/partials/footer';

/* component */
@import './scss/components/pagination';
@import './scss/components/toast';
