html{
   
}
body{
    background-color: $primary-background;
    font-family: $primary-font-family;
    color:$primary-color;
}
.dropdown-menu{
    font-size: inherit;
}
.page{
    &-header{
        max-width: 100%;
        margin-top: 2.4rem;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
        .page-title{
            color: white;
            padding: 0;
            background: transparent;
            color: inherit;
            z-index: 1;
            flex-wrap: wrap;
            align-items: center;
            border-bottom: 0;
            min-height: 7.6rem;
            -webkit-box-flex: 1;
            flex: 1 1 auto;
            max-width: 100%;
            h1{
                font-size: 2.8rem;
                line-height: 3.2rem;
                font-weight: 600;
                margin: 0;
                margin-right: 0.8rem;
                overflow: hidden;
                overflow-wrap: break-word;
                word-wrap: break-word;
                white-space: normal;

            }
        }
        .page-actions{
            display: flex;
        }
    }
    &-body{

    }
    &-footer{

    }
}