html{
   
}
body{
    background-color: $primary-background;
    font-family: $primary-font-family;
    color:$primary-color;
}
.dropdown-menu{
    font-size: inherit;
}
.page{
	&-center{
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
    &-header{
        max-width: 100%;
        margin-top: 2.4rem;
        margin-bottom: 0;
        .page-title{
            color: white;
            padding: 0;
            background: transparent;
            color: inherit;
            z-index: 1;
            flex-wrap: wrap;
            align-items: center;
			border-bottom: 0;
			margin-top: 20px;
			margin-bottom: 20px;
            -webkit-box-flex: 1;
            flex: 1 1 auto;
            max-width: 100%;
            h1{
                font-size: 2.8rem;
                line-height: 3.2rem;
                font-weight: 600;
                margin: 0;
                margin-right: 0.8rem;
                overflow: hidden;
                overflow-wrap: break-word;
                word-wrap: break-word;
                white-space: normal;

            }
        }
        .page-actions{
			width: 100%;
			text-align: right;
			margin-bottom: 15px;
        }
    }
    &-body{

    }
    &-footer{

    }
}