@charset "UTF-8";
@import './scss/variables';
@import './scss/utilities';
@import './scss/mixins';
@import './scss/default';
@import './scss/fonts';
@import './scss/animations';
@import './scss/default';
@import './scss/header';
@import './scss/footer';
@import './scss/main';
@import './scss/slick';