.card {
    display: inline-block;
    width: 100%;
    color: #1a1919;
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 0;
    background-color: #ffffff;
    border-radius: .3rem;

    ~h1:first-of-type,
    ~h2:first-of-type,
    ~h3:first-of-type,
    ~h4:first-of-type,
    ~h5:first-of-type,
    ~h6:first-of-type {
        margin-top: 0;
    }

    @media (min-width: 550px) {
        //border-radius: .3rem;
        box-shadow: 0 0 0 1px rgba(63, 63, 68, .05), 0 1px 3px 0 rgba(63, 63, 68, .15);
        margin-bottom: 2.0rem;
    }

    &.secondary {
        background-color: #ebeef0;
    }

    &.has-sections {
        padding: 0;
    }
	.card-header{
		border-bottom: 1px solid #ddd;
		padding: 15px 20px;
		h5{
			margin: 0;
			font-size: 20px;
		}
	}
    .card-section {
        padding: 2.0rem;

        ~h1:first-of-type,
        ~h2:first-of-type,
        ~h3:first-of-type,
        ~h4:first-of-type,
        ~h5:first-of-type,
        ~h6:first-of-type {
            margin-top: 0;
        }
    }

    p {
        color: hsl(0, 0%, 10%);
    }
    &-aside{
        h2{
            margin: 0;
            padding: 2.0rem 0;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 1.6em;
        }
        p{
            color: #707070;
            line-height: 1.4;
        }
    }
}

.box-item-image{
	width: 100px;
	height: 100px;
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	a{
		position: absolute;
		top: 0;
		right: 0;
		color:$red;
	}
	img{
		max-width: 100%;
		max-height: 100%;
	}
	.btn-remove{
		position: absolute;
		top: 0;
		right: 0;
		color:#fff !important;
		width: 20px;
		height: 20px;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		background: $red;
		border-radius: 5px;
		font-size: 10px;
	}
}