/* Tabs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tabs {
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: #f5f6f7;
	overflow: visible;
	flex-wrap: nowrap;
	display: flex;
	align-items: stretch;
	background-color: transparent;
	border-bottom: 1px solid #dfe3e8;
	border-radius: 0;

	li {
		position: relative;
		flex-grow: 0;
		flex-shrink: 0;
		display: flex;
		align-items: stretch;

		a {
			border-right: 0;
			border-bottom: 3px solid transparent;
			margin-right: 1.6rem;
			padding: 1.6rem 0;
			min-width: 5rem;
			border-top-left-radius: 0;
			margin-left: 1.6rem;
			text-align: center;
			color: #637381;
			&:focus{
				box-shadow: inset 0 0 2px 0 rgba(92,106,196,.8), 0 0 2px 0 rgba(92,106,196,.8);
				outline: none;
				border-color: #b3bcf5;
			}
			&:hover {
				outline: none;
				color: #212b36;
				border-color: #dfe3e8;
				text-decoration: none;
			}
		}

		&.active{
			a {
				background-color: transparent;
				border-bottom-color: #5c6ac4;
				color: #212b36;
			}
		}
	}
}
