a{
    cursor: pointer;
}
body{
	font-size: 14px;
	width: 100%;
	overflow: hidden auto;
	img{
		max-width: 100%;
	}
	@media(max-width:992px){
		&.navbar-is-open{
			width: 100%;
			height: 100%;
			height: 100vh;
			overflow: hidden;
			.wrapper{
				&:before{
					content : '';
					position: fixed;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					z-index: 999;
					background: rgba(0,0,0,0.3);
				}
			}
		}
	}
}

.container{
    @media (min-width: 1600px) {
        max-width: 1170px;
	}
	@media(max-width:1200px){
		width: 100%;
		max-width: 100%;
	}
}

.totop {
	background: #fff;
	border: 2px solid $red;
	border-radius: 50px;
	bottom: 40px;
	color: $red;
	display: block;
	height: 40px;
	line-height: 55px;
	overflow: hidden;
	position: fixed;
	right: 20px;
	text-align: center;
	white-space: nowrap;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
	text-decoration: none;
	transform: translateY(100%);
	&:hover{
		background: $red;
		color:#fff;
	}
	&.is-active{
		opacity: 1;
		visibility: visible;
		transform: none;
	}
}

