.wrapper{
    position: relative;
    width: 100%;
    overflow: hidden;
	background-image: url('../images/background/bg1.png');
	
    .page-title{
        font-size: 30px;
		color:$red;
		font-weight: 600;
		text-transform: uppercase;
		@media(max-width:992px){
			font-size: 30px;
		}
		@media(max-width:768px){
			font-size: 20px;
		}
		@media(max-width:480px){
			font-size: 18px;
		}
	}
	.nav.nav-pills{
		justify-content: center;
		.nav-item{
			display: inline-block;
			background: transparent;
			.nav-link{
				background: transparent;
				color:$text;
				text-transform: uppercase;
				font-size: 18px;
				font-weight: 600;
				&.active{
					color:$red;
				}
			}
		}
	}
    .section{
		&-container{
			background: #fff;
			padding: 50px 15px;
			border-left: 1px solid #eee;
			border-right: 1px solid #eee;
		}
        &-home{
            &-slider{
                // min-height: 100vh;
				width: 100%;
				position: relative;
				.home-slider.slick-slider{
					margin-bottom: 0;
				}
                .item-slide{
                    img{
                        max-width: 100%;
                    }
                }
                .slick-arrow{
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    background: #fff;
                    border: 2px solid $red;
                    color:$red;
                    transition:all 0.3s ease;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
				}
				.slick-dots{
					margin: 0;
					position: absolute;
					right: 15px;
					bottom: 10%;
					display: inline-flex;
					width: auto;
					li{
						button{
							background: transparent;
							border: 2px solid $red;
							border-radius: 50%;
							width: 20px;
							height: 20px;
							@media(max-width:992px){
								width: 16px;
								height: 16px;
							}
							@media(max-width:768){
								width: 12px;
								height: 12px;
							}
							&:before{
								content: none;
							}
						}
						&.slick-active{
							button{
								background: #fff;
							}
						}
					}
					
				}
				.icon-mouse-down{
					width: 21px;
					height: 51px;
					background-image: url('../images/icons/home-mouse .png');
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center center;
					position: absolute;
					z-index: 1000;
					bottom: 10%;
					left: 50%;
					transform: translateX(-50%);
					animation-name: mouse-down;
					animation-duration: 1.5s;
					animation-iteration-count: infinite;
					cursor: pointer;
				}
            }
            &-video{
				margin-top: 50px;
				&-container{
					padding: 0 15px;
					.row{
						.col{
							padding: 0;
							align-items: flex-end;
						}
					}
				}
                .item{
                    &-image{
						&-wrap{
							height: 100%;
							width: 100%;
							display: flex;
							align-items: flex-end;
							img{
								max-width: 100%;
							}
						}
                    }
                    &-video{
						
						&-wrap{
							padding-bottom: 30px;
							video{
								width: 100%;
							}
						}
                    }
				}
				@media(max-width:768px){
					.item-image{
						display: none;
					}
					.item-video{
						flex : 0 0 100%;
						max-width: 100%;
						padding: 0 15px !important;
					}
				}
            }
            &-banner{
				padding-top: 50px;
                img{
                    max-width: 100%;
                }
            }
            &-articles{
                padding-top: 50px;
                .home-articles-slider{
                    margin-top: 15px;
                    padding: 0 40px;
                    .item{
                        &-slide{
                            padding: 0 15px;
                        }
                        &-article{
                            background: #f2f2f2;
                        }
                        &-image{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            &:before{
                                content : "\f144";
                                font-family: "Font Awesome 5 Pro";
                                -moz-osx-font-smoothing: grayscale;
                                -webkit-font-smoothing: antialiased;
                                display: inline-block;
                                font-style: normal;
                                font-variant: normal;
                                text-rendering: auto;
                                line-height: 1;
                                font-weight: 300;
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                font-size: 60px;
                                color: #fff;
                                background: rgba(0,0,0,0.2);
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            img{
                                max-width: 100%;
                            }
                        }
                        &-info{
                            padding: 15px;
                            text-align: center;
                        }
                        &-title{
                            font-size: 16px;
                            color:$red;
                            text-decoration: none;
                            margin-bottom: 10px;
							display: block;
							font-weight: 600;
                        }
                        &-description{
                            font-size: 13px;
                        }
                    }
                    .slick-arrow{
                        background: #fff;
                        color:$red;
                        transition:all 0.3s ease;
                        font-size: 60px;
                        display: flex;
                        align-items: center;
						justify-content: center;
						width: 30px;
						height: 60px;
                        &.slick-next{
                            right: 0px;
                        }
                        &.slick-prev{
                            left: 0px;
						}
						@media(max-width:768px){
							font-size: 30px;
						}
                    }
                }
            }
            &-logo{
				padding-top: 50px;
				padding-bottom: 20px;
            }
        }
        &-about-us{
			.background-about-us{
				background-image: url('../images/banner/about-1.png');
				background-size: cover;
				background-position: bottom center;
				background-repeat: no-repeat;
				padding-bottom: 50px;
				img{
					width: 100%;
				}
			}
			.background-flow-us{
				text-align: center;
				img{
					width: 100%;
				}
			}
			
		}
		&-product{
			
			&-container{
				background: #fff;
				padding-top: 50px;
				padding-bottom: 50px;
			}
			.product-body{
				margin-top: 30px;
			}
			
			.product-navbar{
				list-style-type: disc;
				padding: 0;
				margin: 0;
				li{
					display: block;
					margin-bottom: 5px;
					a{
						height: 70px;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 27px;
						font-family: 'Lemonada';
						font-weight: bold;
						text-decoration: none;
						color:$text;
						text-transform: uppercase;
						background: linear-gradient(to bottom left, #acacac,#ececec,#acacac);
						
						
					}
					&:nth-child(1){
						a:hover,a.is-active{
							color:#ff0000;
							background: linear-gradient(to bottom left,#ffca49,#ffe090,#ffca49);
						} 
					}
					&:nth-child(2){
						a:hover,a.is-active{
							color:#044d98;
							background: linear-gradient(to bottom left,#767676,#ececec,#767676);
						} 
					}
					&:nth-child(3){
						a:hover,a.is-active{
							color:#063b02;
							background: linear-gradient(to bottom left,#c7662c,#f68e4e,#c7662c);
						} 
					}
					&:nth-child(4){
						a:hover,a.is-active{
							color:#ffffff;
							background: linear-gradient(to bottom left,#559777,#5eca96,#559777);
						} 
					}
					&:nth-child(5){
						a:hover,a.is-active{
							color:#ffffff;
							background: linear-gradient(to bottom left,#b50b0b,#ff7164,#b50b0b);
						} 
					}
				}
			}
			.product-content{
				.product{
					&-title{
						font-size: 24px;
						font-weight: 600;
					}
					&-name{
						font-size: 30px;
						color:$red;
						text-transform: uppercase;
						font-weight: bold;
					}
					&-list{
						margin-top: 20px;
					}
					&-row{
						height: 40px;
						border-bottom: 2px solid #ffc975;
						display: flex;
						flex-wrap: wrap;
						font-size: 16px;
						&:first-child{
							border-top: 2px solid #ffc975;
						}
						&-title{
							flex: 0 0 150px;
							max-width: 150px;
							align-items: center;
							display: flex;
							font-weight: 600;
						}
						&-content{
							flex-basis: 0;
							flex-grow: 1;
							max-width: 100%;
							align-items: center;
							display: flex;
							font-weight: 600;
							span{
								display: inline-block;
								
							}
							span + span{
								margin-left: 15px;
							}
						}
					}
					&-body-html{
						margin-top: 20px;
						font-size: 16px;
						img{
							max-width: 100%;
						}
					}
				}
			}
			@media(max-width:992px){
				.col-nav ,.col-content{
					flex: 0 0 100%;
					max-width: 100%;
					margin-bottom: 30px;
				}
				.product-body{
					margin-top: 10px;
				}
				.product-navbar{
					list-style-type: disc;
					padding: 0;
					margin: 0;
					display: flex;
					flex-wrap: nowrap;
					li{
						display: block;
						margin-bottom: 5px;
						flex: 0 0 20%;
						max-width: 20%;
						a{
							height: 70px;
							font-size: 22px;
							justify-content: center;
						}
					}
				}
			}
			@media(max-width:768px){
				.product-body{
					margin-top: 10px;
				}
				.col-nav {
					padding: 0;
				}
				.product-navbar{
					li{
						a{
							height: 70px;
							font-size: 14px;
						}
					}
				}
				.product-content{
					.product{
						&-title{
							font-size: 18px;
						}
						&-name{
							font-size: 20px;
						}
						&-list{
							margin-top: 20px;
						}
						&-row{
							height: auto;
							min-height: 40px;
							border-bottom: 2px solid #ffc975;
							display: block;
							font-size: 14px;
							padding: 6px 0;
							&:first-child{
								border-top: 2px solid #ffc975;
							}
							&-title{
								display: inline-block;
							}
							&-content{
								display: inline-block;
								span{
									display: inline-block;
									
								}
								span + span{
									margin-left: 15px;
								}
							}
						}
						&-body-html{
							margin-top: 20px;
							font-size: 16px;
							img{
								max-width: 100%;
							}
						}
					}
				}
			}
		}
		&-news{
			
			&-container{
				background: #fff;
				padding-top: 50px;
				padding-bottom: 50px;
			}
			.list-articles{
				.item-article{
					display: flex;
					flex-wrap: nowrap;
					flex-direction: row;
					margin-left: -15px;
					margin-right: -15px;
					margin-bottom: 30px;
					&-image{
						flex: 0 0 40%;
						max-width: 40%;
						padding-left: 15px;
						padding-right: 15px;
						img{
							max-width: 100%;
						}
					}
					&-content{
						flex: 0 0 60%;
						max-width: 60%;
						padding-left: 15px;
						padding-right: 15px;
						
					}
					&-title{
						color:#eaad39;
						font-size: 20px;
						font-weight: 600;
						text-transform: uppercase;
					}
					&-description{
						margin-top: 15px;
						font-size: 16px;
						color:$text;
					}
					&-readmore{
						margin-top: 15px;
						color:$text ; 
						display: inline-block;
						&:hover{
							color:#eaad39;
						}
					}
				}
			}
			.page-article{
				.article{
					&-title{
						h1{
							font-size: 20px;
							color:$red;
						}
					}
					&-related{
						&-title{
							font-size: 16px;
							font-weight: 600;
							text-align: center;
						}
						.item-article{
							margin-left: -15px;
							margin-right: -15px;
							margin-bottom: 15px;
							&-image{
								padding-left: 15px;
								padding-right: 15px;
								img{
									max-width: 100%;
								}
							}
							&-content{
								padding-left: 15px;
								padding-right: 15px;
								margin-top: 15px;
							}
							&-title{
								color:#eaad39;
								font-size: 14px;
								font-weight: 600;
								text-transform: uppercase;
							}
							&-description{
								margin-top: 15px;
								font-size: 13px;
								color:$text;
							}
							&-readmore{
								margin-top: 15px;
								color:$text ; 
								display: inline-block;
								&:hover{
									color:#eaad39;
								}
							}
						}
					}
				}
			}
			@media(max-width:992px){
				.list-articles{
					.item-article{
						
						&-image{
							flex: 0 0 40%;
							max-width: 40%;
						}
						&-content{
							flex: 0 0 60%;
							max-width: 60%;
							
						}
						&-title{
							font-size: 20px;
						}
					}
				}
			}
			@media(max-width:768px){
				.list-articles{
					.item-article{
						flex-wrap: wrap;
						&-image{
							flex: 0 0 100%;
							max-width: 100%;
							margin-bottom: 10px;
						}
						&-content{
							flex: 0 0 100%;
							max-width: 100%;
							
						}
						&-title{
							font-size: 18px;
						}
					}
				}
			}
			@media(max-width:480px){
				.list-articles{
					.item-article{
						&-title{
							font-size: 16px;
						}
					}
				}
			}
		}
		&-store{
			
			&-container{
				background: #fff;
				padding-top: 50px;
				padding-bottom: 50px;
			}
			.store{
				&-traditional{
					display: flex;
					flex-wrap: wrap;
					margin-left: -15px;
					margin-right: -15px;
					margin-bottom: 50px;
					&-image{
						flex: 0 0 40%;
						max-width: 40%;
						padding-left: 15px;
						padding-right: 15px;
					}
					&-content{
						flex: 0 0 60%;
						max-width: 60%;
						padding-left: 15px;
						padding-right: 15px;
						font-size: 16px;
						display: flex;
						align-items: flex-end;
						flex-wrap: wrap;

					}
				}
				&-modern{
					.list-icons{
						display: flex;
						flex-wrap: wrap;
						margin-left: -15px;
						margin-right: -15px;
						margin-bottom: 50px;
						.item-icon{
							flex: 0 0 33.33%;
							max-width: 33.33%;
							padding-left: 15px;
							padding-right: 15px;
							margin-bottom: 30px;
							.item-icon-image{
								border: 1px solid #ddd;
							}
							img{
								width: 100%;
							}
						}
					}
				}
				&-horeca{
					&-title{
						font-size: 18px;
						text-transform: uppercase;
						text-align: center;
						margin-bottom: 30px;
						font-weight: 600;
						color:$red;
					}
					.list-icons{
						display: flex;
						flex-wrap: wrap;
						margin-left: -15px;
						margin-right: -15px;
						margin-bottom: 50px;
						.item-icon{
							flex: 0 0 33.33%;
							max-width: 33.33%;
							padding-left: 15px;
							padding-right: 15px;
							margin-bottom: 30px;
							.item-icon-image{
								border: 1px solid #ddd;
							}
							img{
								width: 100%;
							}
						}
					}
				}
				&-export{
					&-title{
						font-size: 18px;
						text-transform: uppercase;
						text-align: center;
						margin-bottom: 30px;
						font-weight: 600;
						color:$red;
					}
				}
			}
		}
		&-contact{
			
			&-container{
				background: #fff;
				padding: 50px 0;
			}
			.contact{
				&-title{
					font-size: 18px;
					text-transform: uppercase;
					text-align: left;
					margin-bottom: 30px;
					font-weight: 600;
					color:$red;
				}
			}
			.list-locations{
				max-width: 450px;
				.item-location{
					border-top: 1px solid  #edb853;
					padding: 30px 0;
					&:first-child{
						border-top: none;
					}
					&-type{
						font-size: 16px;
						font-weight: 600;
					}
					&-name{
						margin-top: 5px;
						&-text{
							font-size: 20px;
							color:$red;
							font-weight: bold;
						}
						&-icon{
							text-align: right;
						}
					}
					&-info{
						margin-top: 10px;
						span{
							display: inline-block;
							img{
								width: 24px;
								
							}
						}
					}
				}
			}
			.contact-form{
				background: #fdf7eb;
				padding: 40px 40px;
				label{
					margin: 0;
				}
				.form-control{
					background: transparent;
					&:not(textarea){
						border-top: none !important;
						border-left: none !important;
						border-right: none !important;
						border-radius: 0;
					}
					&:focus{
						box-shadow: none;
					}
				}
				.btn-submit{
					background: transparent;

				}
			}
			.google-map{
				height: 500px;
			}
		}
		&-food{
			&-container{
				background: #fff;
				padding: 50px 0;
			}
			.item-food{
				background: #f2f2f2;
				margin-bottom: 30px;
				.item{
					&-image{
						display: flex;
						justify-content: center;
						align-items: center;
						position: relative;
						&:before{
							content : "\f144";
							font-family: "Font Awesome 5 Pro";
							-moz-osx-font-smoothing: grayscale;
							-webkit-font-smoothing: antialiased;
							display: inline-block;
							font-style: normal;
							font-variant: normal;
							text-rendering: auto;
							line-height: 1;
							font-weight: 300;
							position: absolute;
							left: 50%;
							top: 50%;
							font-size: 60px;
							color: #fff;
							background: rgba(0,0,0,0.2);
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							display: flex;
							justify-content: center;
							align-items: center;
						}
						img{
							max-width: 100%;
						}
					}
					&-info{
						padding: 15px;
						text-align: center;
					}
					&-title{
						font-size: 16px;
						color:$red;
						text-decoration: none;
						margin-bottom: 10px;
						display: block;
						font-weight: 600;
					}
					&-description{
						font-size: 13px;
					}
				}
			}
			.detail-food{
				h4{
					color:$red;
				}
				&-header{
					background: #f3f3f3;
					.item{
						&-video{
							position: relative;
							padding-bottom: 56.25%; /* 16:9 */
							padding-top: 25px;
							height: 0;
							iframe{
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
							}
						}
						&-title{
							h1{
								font-size: 35px;
								margin-top: 15px;
								margin-bottom: 15px;
								color: #320303;
							}
						}
						&-description{
							font-size: 14px;
							p{
								font-size: 14px;
							}
						}
					}
				}
				&-body{
					margin-top: 20px;
					.list-materials{
						list-style-type: none;
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						padding: 0;
						margin: 0;
						li{
							display: block;
							width: 25%;
							font-size: 16px;
						}
					}
				}
			}
			@media(max-width:992px){
				.detail-food{
					h4{
						color:$red;
						font-size: 18px;
					}
					&-header{
						.item{
							&-title{
								h1{
									font-size: 25px;
								}
							}
							&-description{
								font-size: 14px;
								p{
									font-size: 14px;
								}
							}
						}
					}
					&-body{
						.list-materials{
							li{
								font-size: 14px;
							}
						}
					}
				}
			}
			
		}
		.page-content{
			font-size: 16px;
			img{
				max-width: 100%;
			}
		}
    }
    
}
