@mixin img() {
    max-width: 100%;
    height: auto;
}
@mixin center(){
    margin-left: auto;
    margin-right: auto;
}
@mixin clearfix() {
    display: block;
    content: "";
    clear: both;
}

@mixin col(){
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
@mixin flex($width){
	flex: 0 0 $width;
    max-width: $width;
}